<div class="container text-center">
  <h1>About page</h1>
  <p>We are DevMatch.  Our company focuses on creating an exclusive community 
  developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, veritatis, architecto at nihil accusamus natus eum tempore provident voluptates enim doloremque nemo sint quisquam maxime magnam ad rem nostrum amet?</p>
</div>